.profile__info {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, auto);
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 14px;
    margin-top: 26px;
  }
}