.elements {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  -webkit-column-gap: 17px;
  -moz-column-gap: 17px;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}